<section class="bg-light py-5">
  <div class="container">
    <h2>GET THE FRESHCART APP</h2>
    <p>We will send you a link ,open it in your phone to download the app</p>

    <div class="row">
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Email..." name="" id="">
        </div>
        <div class="col-md-2">
            <button class="btn btn-success"> Share App Link</button>
        </div>
    </div>
    <hr>
    <div class="row  ">
        <div class="col-md-6 d-flex align-items-center">
            <h3>Payment Partners</h3>
            <img src="../../assets/images/images.png" class="w-50"  alt="">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <h3 class="fs-5">Get deliveries with FreshCart</h3>
            <img src="../../assets/images/222-2229091_apple-and-play-store-joint-logo-available-on.png" class="w-25"  alt="">
        </div>
       
    </div>
  </div>
</section>
