<section *ngIf="step1" class="w-75 mx-auto bg-main-light shadow p-3 my-3">
    <form [formGroup]="forgetPassForm" (ngSubmit)="forgetPassword()" >
        <label for="email">email</label>
        <input formControlName="email" type="email" id="email" class="form-control" >
        <button class="btn bg-main w-100 my-2 ">Forget Password</button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 text-center text-main">{{userMsg}}</p>
    </form>
</section>

<section *ngIf="step2" class="w-75 mx-auto bg-main-light shadow p-3 my-3">
    <form [formGroup]="resetCodeForm" (ngSubmit)="ResetCode()"  >
        <label for="Reset Code">Reset Code</label>
        <input formControlName="resetCode" type="text" id="Reset Code" class="form-control" >
        <button class="btn bg-main w-100 my-2 ">Reset Code</button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 text-center text-main">{{userMsg}}</p>

    </form>
</section>
<section *ngIf="step3" class="w-75 mx-auto bg-main-light shadow p-3 my-3">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="ResetPassword()" >
        <label for="Reset Password">Reset Password</label>
        <input formControlName="newPassword" type="text" id="Reset Password" class="form-control" >
        <button class="btn bg-main w-100 my-2 ">Reset Password</button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 text-center text-main">{{userMsg}}</p>

    </form>
</section>